<a href="organisation/new">Create New Organisation</a>
<h2>List of Organisations</h2>
<hr/>
	<table border>
		<tr>
			<th>Name</th>
			<th>Hourly Rate</th>
			<th>Actions</th>
		</tr>
	<% @orgs.each do |org| %>
		<tr>
			<td><%= org.name %></td>
			<td>$ <%= org.hourly_rate %></td>
			<td>
				<form method="POST" action="organisation/join">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
					<input type="hidden" name="search[oid]" value="<%= org.id %>"/>
					<input type="submit" value="Join"/>
				</form>
				<a href="">Edit</a>

			</td>
		</tr>
	<% end %>
	</table>



