<h2>New organisation</h2>

<form action="/organisations" method="POST">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
	<input type="text" placeholder="Name" name="org[name]"/><br/>
	<input type="number" placeholder="Hourly Rate" name="org[hourly_rate]"/><br/>
	<input type="submit" class="submit" value="Submit"/>
</form>