<%= @org.name %>

<hr/>
	<table border>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>Finish Time</th>
			<th>Break Length</th>
			<th>Worked Hours</th>
			<th>Pay</th>
		</tr>
        <% @shifts.each do |shift| %>
        <tr>
            <td><%= shift["user_id"] %></td>
            <td><%= shift["shift_date"] %></td>
            <td><%= shift["start_time"] %></td>
            <td><%= shift["finish_time"] %></td>
            <td><%= shift["break_length"] %></td>
        </tr>
        <% end %>

		 <form method="post" action="/newshift">
            <tr>
                <td>
                    <input type="hidden" name="shift[user_id]" value="<%= session[:user_id] %>"/>
                    <%= @user.name %>
                </td>
                <td>
                    <input id="shift_date" type="date" name="shift[shift_date]" required autofocus>
                </td>
                <td>
                    <input id="start_time" type="time" name="shift[start_time]" required autofocus>
                </td>
                <td>
                    <input id="finish_time" type="time" name="shift[finish_time]" required autofocus>
                </td>
                <td>
                    <input id="break_length" type="number" name="shift[break_length]" placeholder="0" required autofocus>
                </td>
                
                <td colspan="3">
                	<input type="hidden" name="shift[organisation_id]" value="<%= @org.id %>"/>
                	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
                	<input type="submit" value="Create Shift"/>
                	
                </td>
            </tr>
        </form>
		

	</table>