<h2>Login</h2>

<form action="/sessions" method="POST">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
	<input type="email" placeholder="Email" name="login[email]"/><br/>
	<input type="password" placeholder="Password" name="login[password]" /> 
	<input type="submit" class="submit" value="Submit"/>
</form>

<hr/>
<h2>Register</h2>


<form action="/users" method="POST">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
	<input type="text" placeholder="Name" name="user[name]"/><br/>
	<input type="email" placeholder="Email" name="user[email]"/><br/>
	<input type="password" placeholder="Password" name="user[password]" /> 
	<input type="submit" class="submit" value="Submit"/>
</form>