<% if @org_count == true %>
	<a href="organisation/new">Create Organisation</a>
<% end %>
	<a href="organisation">Join Organisation</a>

<hr/>

<h2>Joined Organisations</h2>
<hr/>
	<table border>
		<tr>
			<th>Name</th>
			<th>Hourly Rate</th>
			<th>Actions</th>
		</tr>
		<% @orgs.each do |org| %>
		<tr>
			<td><%= org.name %></td>
			<td>$ <%= org.hourly_rate %></td>
			<td>
				<form method="POST" action="organisation/cancel">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
					<input type="hidden" name="search[oid]" value="<%= org.id %>"/>
					<input type="submit" value="Cancel"/>
				</form>
				<a href="/organisation/shifts/<%= org.id %>"">View Shifts</a>

			</td>
		</tr>
	<% end %>
	</table>