<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tanda" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->

  </head>

  <body class="metrouicss">
    <div class="page">
      <div class="nav-bar">
        <div class="nav-bar-inner padding10">
          <span class="pull-menu"></span>

          <a href="/">
            <span class="element brand">
              <span class="metro-ui-logo place-left"></span>
              <span class="name">Tanda</span>
            </span>
          </a>
          <% if session[:user_id] %>
          <ul class="menu">
            <li><%= link_to "Home", "/home" %></li>
            <li><%= link_to "Organisations", "organisation" %></li>
            <li><%= link_to "Logout", "logout" %></li>
          </ul>
          <% end %>

        </div>
      </div>

      <div class="page-region">
        <div class="page-region-content">
          <div class="grid">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>


      <div class="nav-bar">
          <div class="nav-bar-inner" style="padding: 10px 10px 5px;">
            <span class="element">&copy; Company 2012</span>
          </div>
        </div>

    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
